body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "B20Sans";
  src: local("B20Sans"),
   url("./fonts/B20Sans.ttf") format("truetype");
  font-weight: bold;
  }

  @font-face {
    font-family: "RobotoCondensed-Regular";
    src: local("RobotoCondensed-Regular"),
     url("./fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: bold;
    }
    * {
      font-family: 'RobotoCondensed-Regular', sans-serif !important;
  }
  